body.splash-screen {
    background:#222;
    color:#fff
}
body.splash-screen .logo-splash {
    margin-bottom:60px
}
body.splash-screen #flashMessage {
    padding:15px;
    margin-bottom:25px;
    text-align:center
}
body.splash-screen .splash-main {
    margin-top:15%
}
body.splash-screen a.bfh-selectbox-toggle:focus,
body.splash-screen input:focus,
body.splash-screen textarea:focus,
body.splash-screen select:focus {
    border:none!important;
    padding-left:13px
}
.currency-value {
    margin-top:-80px
}
.total-mh-mining-distribution {
    margin-top:50px
}
